body {
    margin: 0 auto;
    padding: 0;
    background-color: bisque;
}
.container {
    display: flex;
    position: absolute;
    width: 75%;
    height: 70%;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(189, 184, 184);
}
.tasks {
    width: 20%;
    height: 100%;
    border-right: 2px solid rgb(63, 62, 61);
}
.tasks h2 {
    text-align: center;
    margin: 15px 0 20px 0;
}
.btns {
    display: flex;
    flex-direction: column;
}
.button {
    margin: 15px 0;
    cursor: pointer;
}
.active {
    background-color: rgba(80, 79, 78, 0.4);
    color: white;
}
.list-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.list {
    display: flex;
    margin: 20px auto;
    padding-top: 15px;
    width: 80%;
}
.text-input {
    width: 88%;
    height: 20px;
    border-radius: 30px;
}
.display {
    display: none;
}
.add-text {
    height: 26px;
    width: 11%;
    margin: 0 5px;
    border-radius: 30px;
    color: white;
    background-color: dodgerblue;
}
.to-do {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    overflow-y: scroll;

}
.todoOne {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px auto;
    width: 75%;
    height: 80px;
    background-color: rgb(61, 126, 104);
    border: 3px dotted yellow;
    color: white;
}
.text-task {
    margin-left: 20px;
}
.btn-task {
    margin-right: 20px;
    border-radius: 20px;
}
.btn-task-del {
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgb(209, 30, 30);
    color: white;
}
